@import 'commons'

.btn-primary
	color: $secondary-color
	background-color: $primary-color
	border-color: $tertiary-color

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary
	background: $tertiary-color

$icons: (delete: '\f014', success: '\f058', info: '\f05a', warning: '\f071', error: '\f06a', add: '\f067')

@each $name, $icon in $icons
	i.#{$name}:before
		content: '#{$icon}'
		font-family: $font-icon
		font-style: normal