@import 'client/commons'

.domainModelTable
	table
		$border-radius: 5px
		$padding-left: 1rem
		$padding-border: 4rem

		border-collapse: collapse

		th
			@include link-dark
			padding-left: $padding-left

			&:first-child
				border-radius: $border-radius 0 0 0
				padding-left: $padding-border
			&:last-child
				border-radius: 0 $border-radius 0 0
				padding-right: $padding-border
				width: 1%

			&.reactable-header-sort-asc:after, &.reactable-header-sort-desc:after
				font-family: $font-icon
				font-weight: normal
				margin-left: 0.5rem
			&.reactable-header-sort-asc:after
				content: '\f15d'
			&.reactable-header-sort-desc:after
				content: '\f15e'

		.reactable-data
			tr
				&:nth-child(even)
					background: #f1f1f1
				&:nth-child(odd)
					background: #fefefe
				&:hover
					background: #e1e1e1
				&:last-child
					td:first-child
						border-radius: 0 0 0 $border-radius
					td:last-child
						border-radius: 0 0 $border-radius 0
				td
					padding-left: $padding-left
					i
						font-size: 2.2rem

					&:first-child
						padding-left: $padding-border
					&:last-child
						i:before
							margin-right: 1.2rem
						i:last-child:before
							margin-right: $padding-border

		.reactable-filterer
			$filter-height: 1.8rem
			$filter-radius: 5px

			text-align: right

			td:after, input, input:focus
				float: right
				border: solid 1px $tertiary-color
				margin-bottom: 0.8rem
				line-height: $filter-height

			td:after
				@include link-dark
				cursor: default
				font-family: $font-icon
				content: '\f002'
				width: $filter-height
				height: $filter-height
				text-align: center
				border-radius: $filter-radius 0 0 $filter-radius
				border-right-width: 0

			input, input:focus
				font-size: 1.2rem
				border-color: $tertiary-color
				border-radius: 0 $filter-radius $filter-radius 0
				padding-left: 0.5rem
				outline: none
				&::-webkit-input-placeholder
					text-transform: capitalize
				&:focus::-webkit-input-placeholder
					color: transparent

		.reactable-pagination
			text-align: center
			a
				$button-size: 2rem
				@include link-dark

				font-size: 1.2rem
				text-decoration: none
				border: 1px solid $tertiary-color
				width: $button-size
				height: $button-size
				display: inline-block
				margin: 1rem 0.5rem 1rem 0
				border-radius: 5px
				line-height: $button-size
				text-align: center
				&:last-child
					margin-right: 0

			.reactable-current-page
				text-decoration: underline

		.reactable-no-data
			text-align: center
			td:first-letter
				text-transform: capitalize