@import '../../commons'

.actionable
	>header
		margin-bottom: 22px
		height: 100px
		border-bottom: solid #888 1px

		h1
			float: left

		.actionBar
			float: right
			text-align: center

			i
				float: left
				margin: 0px 5px
				font-size: 50px

				&[title]:after
					content: attr(title)
					font-size: 13px
					margin-top: -15px
					display: block

	>div
		left
