template(name='schemaTable')
	.schemaTable
		+reactiveTable(settings=innerTableSettings)

template(name='emptySchemaTable')
	.schemaTableEmpty
		p No entries to show

template(name='actionsCell')
		each actionKeys
			i(class='action #{this}' data-action='#{this}' title='#{this}')