@import '../../commons'

.schemaTable
	tbody tr i
			font-size: 32px
			color: $primary-color

	.reactive-table-filter
		.input-group-addon
			background-color: $primary-color
			color: $secondary-color
			border-color: darken($primary-color, 10%)
		input
			border-color: darken($primary-color, 10%)